p Esra requested
p Esra form data:
p The experiment will involve the use of hazardous equipment at MAX IV: #{hazardousEquipment}
p The experiment involves bringing our own equipment to MAX IV: #{ownEquipment}
p Declaration of Nanomaterials amd NanoProducts (NPMs), Nano-sized Samples, 1-100 nm: #{nanoSamplesDeclaration}
p Declaration of Samples, Chemicals, Gases, Radioactive Materials: #{samplesDeclaration}
p One or several of the substrates or chemicals are classed as CMR coumpound (Check the following H-phrases: H340x 350x or 360x): #{classedAsCmrCompound}
p Declaration of Biological Samples: #{biologicalSamplesDeclaration}
p Samples will be removed by: #{samplesRemoval}
p I will require access to a Chemical or Biology laboratory: #{labAccess}